<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <div class="main_content">
{{>header}}
<img class="me" src={{picture}}>
</div>
{{>footer}}
</body>

</html>